<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PL6X3C');</script>
    <!-- End Google Tag Manager -->
    <title>AdHawk - Customers</title>

    
<meta property="og:title" content="Our Customers | AdHawk Reviews, Case Studies, and Customer Stories">
<meta property="twitter:title" content="Our Customers | AdHawk Reviews, Case Studies, and Customer Stories">



<meta property="og:type" content="website">



<meta property="og:image" content="https://www.tryadhawk.com/img/testimonials/meta/meta_adwords_ios_preview.png">
<meta property="twitter:image:src" content="https://www.tryadhawk.com/img/testimonials/meta/meta_adwords_ios_preview.png">



<meta name="description" content="AdHawk customers share their experiences, reviews, and success stories with AdHawk's digital advertising solutions for Facebook, Instagram, and Google AdWords.">
<meta property="twitter:description" content="AdHawk customers share their experiences, reviews, and success stories with AdHawk's digital advertising solutions for Facebook, Instagram, and Google AdWords.">
<meta property="og:description" content="AdHawk customers share their experiences, reviews, and success stories with AdHawk's digital advertising solutions for Facebook, Instagram, and Google AdWords.">




<meta property="og:url" content="https://www.tryadhawk.com/testimonials/">
<meta property="og:site_name" content="AdHawk">
<meta property="fb:page_id" content="https://www.facebook.com/pages/1094583727235450">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="https://www.tryadhawk.com/testimonials/">
<meta property="twitter:creator" content="adhawk">
<meta name="yandex-verification" content="60dd98d8f53a241c" />
<meta name="msvalidate.01" content="73308028C948F18C44732A0099970B04" />



    <link rel="stylesheet" href="/dist/css/adhawk.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <script src="https://use.typekit.net/umt4fzr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
</head>

<body class="testimonials">
    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PL6X3C"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="notifications"></div>
    <nav class="navbar navbar-secondary fixed-top navbar-light bg-transparent navbar-toggleable-md">
  <div class="container mx-0 mx-sm-auto">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarLightSupportedContent" aria-controls="navbarLightSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/img/brand.svg" width="143" height="24">
    </a>

      <div class="collapse navbar-collapse" id="navbarLightSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Product
            </a>
            <div class="dropdown-menu dropdown-menu-arrow">
              
              
                
                  <a href="/products/assistant/" class="dropdown-item ">
                    AdHawk Assistant
                  </a>
                
              
                
              
                
                  <a href="/products/pro/" class="dropdown-item ">
                    AdHawk Managed Services
                  </a>
                
              
                
                  <a href="/products/agencies/" class="dropdown-item ">
                    AdHawk for Agencies
                  </a>
                
              
                
                  <a href="/products/enterprise/" class="dropdown-item ">
                    AdHawk for Enterprise
                  </a>
                
              
              <!-- <a class="dropdown-item" href="/pricing">Pricing</a> -->
            </div>
          </li>
          
          
          <li class="nav-item ">
            <a class="nav-link" href="/testimonials">Customers</a>
          </li>
          
          
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Company
            </a>
            <div class="dropdown-menu dropdown-menu-arrow">
              <a class="dropdown-item" href="/about">Our Story</a>
              <a class="dropdown-item" href="/about#team">Our Team</a>
              <a class="dropdown-item" href="/press">Press</a>
            </div>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" href="https://blog.tryadhawk.com">Blog </a>
          </li>
          
          
          <li class="nav-item ">
            <a class="nav-link" href="https://dashboard.tryadhawk.com/?utm_medium=navbar&utm_campaign=dashboard&utm_source=Log_In">Log In</a>
          </li>
          
          
          <li class="nav-item">
            <a class="btn btn-primary sign-up-btn" href="/sign-up">
              
                Free Consultation
              
            </a>
          </li>
          
        </ul>
      </div>
  </div>
</nav>


    <div class="headline text-center ">
  <div class="container">
    <div class="row">
      <div class="headline-content col-12 col-lg-8 offset-lg-2 col-xl-10 offset-xl-1">
        <h1 class="headline-title headline-title-lg px-xl-5">
          Discover How Companies Like Yours Leverage AdHawk to Exceed Their Goals
        </h1>
        
        <a href="#testimonials" data-scroll class="headline-link">
          
            Learn more
          
        </a>
        
      </div>
    </div>
  </div>
</div>


<div id="testimonials">
  
  
    <div class="panel testimonial" id="adhawk-advertising-software-for-agencies-floorforce">
  <div class="container">
    <div class="row">
      <div class="panel-media col-12 col-md-5 flex-first mb-3
        flex-md-first">
        <a href="/testimonials/floorforce/">
          <img class="panel-media-img wow fade-in" alt="" data-wow-delay=".5s" src="/img/testimonials/floorforce/floorforce-agency-case-study-cover.jpg">
        </a>
      </div>
      <div class="panel-content col-12 col-md-5 offset-md-1 flex-last
        flex-md-last">
        <h2 class="panel-title">
          Floorforce needed a way to leverage their client's data. <a href="/testimonials/floorforce/">AdHawk applied machine learning to optimize at scale.</a>
        </h2>

        <a href="/testimonials/floorforce/" class="btn btn-lg btn-primary">Learn more</a>

      </div>
    </div>
  </div>
</div>

  
    <div class="panel testimonial" id="adhawk-e-commerce-digital-marketing-case-study-sockfancy">
  <div class="container">
    <div class="row">
      <div class="panel-media col-12 col-md-5 flex-first mb-3
        flex-md-last offset-md-1">
        <a href="/testimonials/sockfancy/">
          <img class="panel-media-img wow fade-in" alt="" data-wow-delay=".5s" src="/img/testimonials/sockfancy/Sockfancy_online_marketing_case_study.png">
        </a>
      </div>
      <div class="panel-content col-12 col-md-5 offset-md-1 flex-last
        flex-md-first">
        <h2 class="panel-title">
          SockFancy wanted higher-quality conversions. <a href="/testimonials/sockfancy/">AdHawk delivered 6x more sales for 27% less.</a>
        </h2>

        <a href="/testimonials/sockfancy/" class="btn btn-lg btn-primary">Learn more</a>

      </div>
    </div>
  </div>
</div>

  
    <div class="panel testimonial" id="adhawk-e-commerce-digital-marketing-case-study-k-series-parts">
  <div class="container">
    <div class="row">
      <div class="panel-media col-12 col-md-5 flex-first mb-3
        flex-md-first">
        <a href="/testimonials/kseries/">
          <img class="panel-media-img wow fade-in" alt="" data-wow-delay=".5s" src="/img/testimonials/kseries/k-series-parts-roas-growth.png">
        </a>
      </div>
      <div class="panel-content col-12 col-md-5 offset-md-1 flex-last
        flex-md-last">
        <h2 class="panel-title">
          K-Series auto-parts dealer wanted to grow annual sales. <a href="/testimonials/kseries/">AdHawk hit their 2017 sales goal in 8 weeks</a>
        </h2>

        <a href="/testimonials/kseries/" class="btn btn-lg btn-primary">Learn more</a>

      </div>
    </div>
  </div>
</div>

  
    <div class="panel testimonial" id="adhawk-b2b-advertising-case-study-meta">
  <div class="container">
    <div class="row">
      <div class="panel-media col-12 col-md-5 flex-first mb-3
        flex-md-last offset-md-1">
        <a href="/testimonials/meta/">
          <img class="panel-media-img wow fade-in" alt="" data-wow-delay=".5s" src="/img/testimonials/meta/Meta_online_marketing_case_study.png">
        </a>
      </div>
      <div class="panel-content col-12 col-md-5 offset-md-1 flex-last
        flex-md-first">
        <h2 class="panel-title">
          Meta - trusted by Sony, Allstate, and Nat Geo - couldn’t tell what campaigns were working. <a href="/testimonials/meta/">AdHawk helped them find their perfect audience, driving more conversions in 1 month than the previous 7.</a>
        </h2>

        <a href="/testimonials/meta/" class="btn btn-lg btn-primary">Learn more</a>

      </div>
    </div>
  </div>
</div>

  
    <div class="panel testimonial" id="adhawk-facebook-remarketing-case-study-phlearn">
  <div class="container">
    <div class="row">
      <div class="panel-media col-12 col-md-5 flex-first mb-3
        flex-md-first">
        <a href="/testimonials/phlearn/">
          <img class="panel-media-img wow fade-in" alt="" data-wow-delay=".5s" src="/img/testimonials/phlearn/phlearn_online_marketing_case_study.png">
        </a>
      </div>
      <div class="panel-content col-12 col-md-5 offset-md-1 flex-last
        flex-md-last">
        <h2 class="panel-title">
          YouTube’s most popular Photoshop tutorial channel needed more traffic with less time invested on digital. <a href="/testimonials/phlearn/">AdHawk saved Phlearn 60 hours per month with a 7x ROI on remarketing.</a>
        </h2>

        <a href="/testimonials/phlearn/" class="btn btn-lg btn-primary">Learn more</a>

      </div>
    </div>
  </div>
</div>

  
    <div class="panel testimonial" id="adhawk-e-commerce-digital-advertising-case-study-nomad">
  <div class="container">
    <div class="row">
      <div class="panel-media col-12 col-md-5 flex-first mb-3
        flex-md-last offset-md-1">
        <a href="/testimonials/nomad/">
          <img class="panel-media-img wow fade-in" alt="" data-wow-delay=".5s" src="/img/testimonials/nomad/Nomad_goods_online_marketing_case_study.png">
        </a>
      </div>
      <div class="panel-content col-12 col-md-5 offset-md-1 flex-last
        flex-md-first">
        <h2 class="panel-title">
          For 15 straight months, Nomad’s AdWords account was a money-bleeding venture. <a href="/testimonials/nomad/">AdHawk’s tips engine returned 100% of losses with half the budget.</a>
        </h2>

        <a href="/testimonials/nomad/" class="btn btn-lg btn-primary">Learn more</a>

      </div>
    </div>
  </div>
</div>

  
    <div class="panel testimonial" id="adhawk-cross-platform-advertising-solutions-justbrand-limited">
  <div class="container">
    <div class="row">
      <div class="panel-media col-12 col-md-5 flex-first mb-3
        flex-md-first">
        <a href="/testimonials/justbrandlimited/">
          <img class="panel-media-img wow fade-in" alt="" data-wow-delay=".5s" src="/img/testimonials/floorforce/floorforce-agency-case-study-cover.jpg">
        </a>
      </div>
      <div class="panel-content col-12 col-md-5 offset-md-1 flex-last
        flex-md-last">
        <h2 class="panel-title">
          Agencies and Ad Services weren't cutting it for JustBrand's Ecommerce Sales. <a href="/testimonials/justbrandlimited/">AdHawk's Cross-Platform Strategy and Optimization boosted sales by 1000%.</a>
        </h2>

        <a href="/testimonials/justbrandlimited/" class="btn btn-lg btn-primary">Learn more</a>

      </div>
    </div>
  </div>
</div>

  
</div>


  
    <div class="panel panel--products">
  <div class="container">
    
    <div class="row block-group justify-content-center">
      
      
        
          <div class="col-lg-4 px-4 mb-5">
            <a href="/products/assistant/" class="block block--product px-xl-5">
              <h2 class="block-header">AdHawk <br/> Assistant</h2>
              <div class="block-img">
                <img src="/img/icons/adhawk_assistant_business_icon.svg">
              </div>
              <p class="block-text">
                Optimization software for Google AdWords and Facebook Ads.

              </p>
              <div class="block-footer">
                <button class="btn btn-lg btn-info">Learn more</button>
              </div>
            </a>
          </div>
        
      
        
      
        
          <div class="col-lg-4 px-4 mb-5">
            <a href="/products/pro/" class="block block--product px-xl-5">
              <h2 class="block-header">AdHawk Managed Services</h2>
              <div class="block-img">
                <img src="/img/icons/avatar-adhawk-pro-icon.svg">
              </div>
              <p class="block-text">
                Dedicated account management support for all your digital advertising needs.

              </p>
              <div class="block-footer">
                <button class="btn btn-lg btn-primary">Learn more</button>
              </div>
            </a>
          </div>
        
      
        
          <div class="col-lg-4 px-4 mb-5">
            <a href="/products/agencies/" class="block block--product px-xl-5">
              <h2 class="block-header">AdHawk for <br/> Agencies</h2>
              <div class="block-img">
                <img src="/img/icons/adhawk_ppc_agency_icon.svg">
              </div>
              <p class="block-text">
                Turnkey reporting and optimization tools for small and medium sized agencies.

              </p>
              <div class="block-footer">
                <button class="btn btn-lg btn-danger">Learn more</button>
              </div>
            </a>
          </div>
        
      
        
      
    </div>
  </div>
</div>

  




    <div class="footer footer-inverse">
 <div class="container">
   
    <div class="row">
      <div class="col-md-3 d-flex flex-column">
        <ul class="footer-nav">
          <li class="footer-nav-header">Product</li>
          
          
            
              <li><a href="/products/assistant/">AdHawk Assistant</a></li>
            
          
            
          
            
              <li><a href="/products/pro/">AdHawk Managed Services</a></li>
            
          
            
              <li><a href="/products/agencies/">AdHawk for Agencies</a></li>
            
          
            
              <li><a href="/products/enterprise/">AdHawk for Enterprise</a></li>
            
          
          <!-- <li><a href="/pricing">Pricing</a></li> -->
          <li><a href="/faq" target="_blank">FAQ</a></li>
          <li><a href="https://dashboard.tryadhawk.com/?utm_medium=footer&utm_campaign=dashboard&utm_source=Customer_Log_In">Customer Log In</a></li>
        </ul>
      </div>
      <div class="col-md-3 d-flex flex-column">
        <ul class="footer-nav">
          <li class="footer-nav-header">Company</li>
          <li><a href="/testimonials">Our Customers</a></li>
          <li><a href="/about">Our Story</a></li>
          <li><a href="/about#team">Our Team</a></li>
          <li><a href="/press">Press</a></li>
          <li><a href="https://angel.co/adhawk/jobs" target="_blank">Jobs</a></li>
        </ul>
        <!--Static Image Badge that's linked <div class="footer-badge footer-badge-google">
          <a target="_blank" href="https://www.google.com/partners/#a_profile;idtf=6548748286"><img src="/img/footer/google_partner.png"></a>
        </div>
        -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
          <div class="g-partnersbadge" data-agency-id="6548748286"></div>
      </div>
      <div class="col-md-3 d-flex flex-column">
        <ul class="footer-nav">
          <li class="footer-nav-header">Resources</li>
          <li><a href="https://blog.tryadhawk.com" target="_blank">AdHawk Blog</a></li>
          <li><a href="https://blog.tryadhawk.com/category/opt-in-podcast" target="_blank">Opt-In! Podcast</a></li>
          <li><a href="https://blog.tryadhawk.com/learn/" target="_blank">AdHawk Academy</a></li>
          <li><a href="https://blog.tryadhawk.com/category/digital-marketing-weekly-roundup" target="_blank">Weekly Marketing Newsletter</a></li>
          <li><a href="/tools/adwords-expanded-text-ads-tool/" target="_blank">Free Expanded Text Ads Tool</a></li>
        </ul>
        <div class="footer-badge footer-badge-techstars">
          <img src="/img/footer/techstars.png">
        </div>
      </div>
      <div class="col-md-3">
        <ul class="footer-nav footer-social">
          <li class="footer-nav-header">Connect With Us</li>
          <li><a href="mailto:info@tryadhawk.com" class="footer-social-link" target="_blank"><i class="social-icon social-icon-lg social-icon-email"></i> Email</a></li>
          <!-- <li><a href="tel:1-866-2Google" class="footer-social-link" target="_blank"><i class="social-icon social-icon-lg social-icon-call"></i> 1-866-2Google</a></li> -->
          
          <li><a href="https://www.facebook.com/pages/adHawk/1094583727235450" class="footer-social-link" target="_blank"><i class="social-icon social-icon-lg social-icon-facebook"></i> facebook</a></li>
          
          <li><a href="https://twitter.com/adhawk" class="footer-social-link" target="_blank"><i class="social-icon social-icon-lg social-icon-twitter"></i> twitter</a></li>
          
          <li><a href="https://angel.co/adhawk" class="footer-social-link" target="_blank"><i class="social-icon social-icon-lg social-icon-angellist"></i> Jobs</a></li>
          
          <li><a href="https://www.linkedin.com/company/adhawk" class="footer-social-link" target="_blank"><i class="social-icon social-icon-lg social-icon-linkedin"></i> linkedin</a></li>
          
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3 offset-md-3 mb-1">
        © AdHawk 2018
      </div>
      <div class="col-md-3 mb-1">
        <a href="/terms">Terms of Service | Privacy Policy</a>
      </div>
    </div>
  </div>
</div>

    <script src="/dist/js/app.js"></script>
    <script src="/dist/js/adhawk.js"></script>
</body>

</html>
